# Environment variables
.env
*.env

# Dependencies
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Windows shortcuts
*.lnk

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db